<div>
  <div class="contenedor">


            

    <div class="caja-btn">
        <div class="btn-redondeado">
            <img src="https://images.vexels.com/media/users/3/144883/isolated/preview/09a503901819e475a3c352ddd3e528b3-carrera-de-construccion-de-la-empresa.png    " alt="">
        </div>
        <p>empresa</p>
    </div>

    
    <div class="caja-btn">
        <div class="btn-redondeado">
            <img src="https://cdn-icons-png.flaticon.com/512/585/585512.png" alt="">
        </div>
            <p>departamento</p>

    </div>
           

    <div class="caja-btn">
        <div class="btn-redondeado">
            <img src="https://cdn-icons-png.flaticon.com/512/2942/2942291.png" alt="">
        </div>
            <p>empleado</p>
    </div>     


  </div>
   



</div>

<style>

.caja-btn{
    margin: 17px;
    display: flexbox;
    justify-content: center;
    
    
}

.btn-redondeado img{
    width: 40%;
    height: 40%;
    
}
.contenedor{
    display: flex;
}    
.btn-redondeado{
    background-color: yellow;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.caja-btn p{
    text-align: center;
    font-size: 3vmin;
}

</style>